{% extends "base.html" %}
{% block title %}<title>[전문작가] : {{ author.first_name }}{{ author.last_name }}</title>{% endblock %}
{% block content %}
<h3><strong>작가 : {{ author.first_name }}{{ author.last_name }}</strong></h3>
<small class="text-muted">{{ author.date_of_birth }} ~ </small>
<p style="margin-top:30px;"><span class="badge badge-danger">도서목록</span></p>
<ul class="list-group list-group-flush">
    {% for books in author.book_set.all %}
    <li class="list-group-item">
        <p><a href="{% url 'catalog:book-detail' books.id %}"><strong>{{ books.title }}</strong></a></p>
        <small class="text-muted">
            {{ books.summary }}
        </small>
    </li>
    {% endfor %}
</ul>
<a class="btn btn-dark btn-lg btn-block" href="{% url 'catalog:authors' %}" style="margin-top:30px;"><small>작가
    리스트</small></a>
{% endblock %}